@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Hospital</h1>
   <p>Thank You for choosing our hospital</p>
    <p>Here we strive to provide the heighest quality medical care </p>
    <p>learn more about our services and specialties </p>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Internal Medicine</td>
            </tr>
            <tr>
                <td>pediatrics</td>
            </tr>
            <tr>
                <td>surgery</td>
            </tr>
        </tbody>
    </table>
    <div>If you have any question contact us </div>
</div>
